.container {
    border: 1px solid grey;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 15px;
    overflow: auto;
}
header {
    align-content: center;
    background-color: darkslategray;
    padding: 5px;
    width: 100%;
}

h2 {
    color: white;
    text-align: center;
}
 h3 {
     margin-top: 10px;
     margin-block-end: 50;
 }
.row {
    /* margin-left: 0;
    margin-right: 0; */
    margin: auto;   
}

.forecast {
    margin-top: 25px;
}

.city-return {
    margin: 10px;
    border: 1px solid grey;
    border-radius: 5px;

}

.list-group {
    margin-top: 25px;
}

.city-results > .list-group-item {
    border: none;
    padding-left: 0;
}

.forecastResults {
    Margin-top: 30px;
}

#city-info {
    border: 1px solid gray;
    margin-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;

}
 
.search {
    background-color: rgb(238, 237, 237)
}

.forecastBox {
    background-color: blue;
    color: white;
    border-radius: 5px;
    margin-left: 0;
    padding: 0;
}
.forecastBox > p {
    font-size: 14px;
}

ul {
    list-style: none;
}

.col-12 {
    padding: 0;
}